/* css reset for padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* See what this does? */

}

body {
  background-color: #F3E9DD;
  /* width: 100% !important; */

<<<<<<< Updated upstream
=======
.column {
  float: left;
  width: 100%;
  padding: 5px;
>>>>>>> Stashed changes
}



<<<<<<< Updated upstream
=======
.grid-1 {
  padding-left: 400px;
  max-width:  100%;
  height: auto;
}
>>>>>>> Stashed changes



/* style top nav-bar */
.top-nav-container {
    /* text color */
    color: #fff;
    background-color: #5995DA; /* nav background color */
    padding: 20px 0;
    display: flex;
    justify-content: center;

}


/* style menu-items */
.nav-menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.podcast-link {
    margin-left: auto;

}

.Soon-link {
    margin-left: 20px;
}
<<<<<<< Updated upstream
=======


/* iframe {
    height: 100px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
} */

/* .row {
    max-width: 200px;
} */
>>>>>>> Stashed changes
