/* make videowrapper responsive */
div {
  display: flex;
  justify-content: center;
}

.img-left {
  position: absolute;
  bottom: -22.4%;
  padding-right: 50px;
}

.img-right {
  position: absolute;
  bottom: -22.4%;

}

img {
  display: flex;
}
